#英超{
	background-color: rgba(12,134,56,0.3);

}
#西甲{
	background-color: rgba(112,34,56,0.3);

 }
#德甲{
	background-color: rgba(12,34,156,0.3);
 }
#意甲{
	background-color: rgba(12,34,6,0.3);
 }
#法甲{
	background-color: rgba(12,34,111,0.3);
 }
#saichenglink{
	display:inline-block;
	margin-left: 13%;
 	padding: 3% 14% 3% 14%;
	margin: 0 0 0 0;
}
#saichenglink:hover{
	background-color: rgba(123,134,234,0.3);
}
#sheshoulink{
	display:inline-block;
	margin-left: 16%;
 	padding: 3% 14% 3% 14%;
	margin: 0 0 0 0;

}
#sheshoulink:hover{
	background-color: rgba(123,134,234,0.3);
}
#jifenlink{
	display:inline-block;
	margin-left: 16%;
 	padding: 3% 14% 3% 13.5%;
	margin: 0 0 0 0;

}
#jifenlink:hover{
	background-color: rgba(123,134,234,0.3);
}