table{
	text-align: center;
	width: 95%
}
.SheshoubangItem{
	background-color: rgba(12,23,145,0.1);
    margin-top: 12px;
    width:95%;
	
}
.SheshoubangItem:hover{
	box-shadow:  3px 2px 1px #111111;
}
#paiming{
 	border-radius: 3px;
	width: 10%;
	text-align: center;
	padding: 3%;
 }
#playername{
 	border-radius: 2px;
 	width:20%;
	text-align: center;
 
}
#goalsnumber{
 	border-radius: 3px;
 	width: 20%;
	text-align: center;
 
}
#clubname{
	text-align: center; 
	border-radius: 3px;
}
